body{
    margin-top: 25%;
    margin-left: 15%;
    margin-right: 15%;
}

.margin-botton-10{
    margin-bottom: 10px;
}

.margin-botton-20{
    margin-bottom: 20px;
}

.margin-botton-30{
    margin-bottom: 30px;
}

.margin-botton-40{
    margin-bottom: 40px;
}

.margin-botton-50{
    margin-bottom: 50px;
}